@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-100 text-neutral-0 font-sans;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-grotesque;
  }
}
